@tailwind base;
@tailwind components;
@tailwind utilities;


@media(max-width:768px)
{
     table thead th
      {
           display: none;
      }
     table td
      {
        display: block;
      }

      table tbody tr td
      {
        text-align: right;
        position: relative;
        padding-right: 1.2rem;
      }
      table tbody tr
      {
        border-bottom: 1px solid black;
      }
      table td::before
      {
        content: attr(data-table);
        position: absolute;
        left: 0;
        width: 50%;
        text-align: left;
        padding-left: 1.2rem;
      }
}